body{
    background-color: chocolate;
}
.one{
    background-color: darkred;
}
.two{
    background-color: darkred;
}
h1{
    background-color: darkred;
}
h2{
    background-color: darkred;
}
h3{
    background-color: darkred;
}
h4{
    background-color: darkred;
}
p{
    background-color: darkred;
}